* {
    margin: 0;
    padding: 0;
}

html, body {
    font: 12px/1.5 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-animation: androidbugfix infinite 1s;
    height: 100%;
}

#map {
    height: 100%;
}

ul, li, p, a, span, div, label, button, nav, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

#containerMaster {
    width: 100%;
    overflow-x: hidden;
}

.messageError {
    background: #000;
    width: 90%;
    border-radius: 5px;
    padding: 1em;
    position: absolute;
    top: 25%;
    right: 2%;
    z-index: 10002;
}

.messageError__txt {
    color: #edf300;
    font-size: 1.266em;
    text-align: center;
}

.searchFilter__field {
    -webkit-appearance: none;
    appearance: none;
    border: 5px solid #1677a2;
    padding: 5px;
    display: block;
    background-color: #FFFFFF;
    transition: border 0.3s;
    margin: 0 auto;
    height: 40px;
    width: 60%;
    right: 20%;
    top: 2%!important;
    font-size: 1.2em;
}

.badge {
    position: absolute;
    z-index: 999;
    font-size: 1.3em;
    color: #fff;
    background: #1677a2;
    padding: 1em 3em 0.5em 0.5em;
    top: 0%;
    border-radius: 0 0 5px 5px;
    width: auto;
    display: inline-block;
    border-width: 0 2px 2px 2px;
    border-color: #fff;
    border-style: solid;
    box-shadow: -4px 2px 4px 1px rgba(0, 0, 0, 0.3);
    will-change: contents;
    -webkit-transition: right .25s ease;
    transition: right .25s ease;
    cursor: pointer;
}

.badge__number {
    position: absolute;
    z-index: 1000;
    background: #de0606;
    color: #fff;
    font-size: 1em;
    display: block;
    border-radius: 2em;
    text-align: center;
    padding: 1em;
    height: 1em;
    width: 1em;
    line-height: 1em;
    vertical-align: middle;
    font-weight: bold;
    right: 0.5em;
    top: 0.4em;
    will-change: contents;
    -webkit-transition: right .25s ease;
    transition: right .25s ease;
}

.positionEndBadge {
    right: 60.5%;
    background: #e01b1b;
}

.positionEndBadge+.badge__number {
    right: 65.4%;
    background: #901313;
    color: #fff;
}

.positionInicialBadge {
    right: 0%;
}

.warning {
    z-index: 1000;
    position: absolute;
    top: 0;
    background: #fff;
    padding: 10px;
}

.loading {
    position: absolute;
    height: 100%;
    background: #000;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
    opacity: 0.8;
}

.loading__text {
    color: #faff0d;
    font-size: 1.366em;
    text-align: center;
    position: relative;
    top: 30%;
    text-transform: uppercase;
    font-weight: bold;
}

.loading__animation, .loading__animation:before, .loading__animation:after {
    border-radius: 50%;
}


/*Créditos da animação do loading https://projects.lukehaas.me/css-loaders/*/

.loading__animation {
    color: #ffffff;
    font-size: 11px;
    text-indent: -99999em;
    margin: 0 auto;
    display: block;
    top: 25%;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    will-change: contents;
}

.loading__animation:before, .loading__animation:after {
    position: absolute;
    content: '';
}

.loading__animation:before {
    width: 5.2em;
    height: 10.2em;
    background: #000;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}

.loading__animation:after {
    width: 5.2em;
    height: 10.2em;
    background: #000;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*fim loading*/

.hide {
    display: none!important;
}

.asideInformationContainer {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60%;
    z-index: 1000;
    background-color: #dcdcdc;
    overflow-y: scroll;
    box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.5);
    -webkit-transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    will-change: transform;
}

.positionEndFilter {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.positionInicialFilter {
    -webkit-transform: translate(35em, 0);
    -ms-transform: translate(35em, 0);
    transform: translate(35em, 0);
}

.asideInformationContainer__txt {
    color: #b75151;
    font-weight: bold;
    text-align: center;
    font-size: 1.166em;
    padding: 1em 0;
}

.cleanFilter {
    display: block;
    padding: 0.5em 0.5em 0.5em 1.5em;
    font-size: 1.166em;
    color: #fff;
    cursor: pointer;
    background: #1677a2;
    font-weight: bold;
}

.cleanFilter__close {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 0.4em;
}

.asideInformation__content {
    border-bottom: 1px solid #c7c7c7;
    padding: 0.5em 1.5em;
}

.asideInformationFilters {
    padding: 1em;
    text-align: center;
    border-bottom: 2px dotted #c7c7c7;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

.asideInformation__title {
    font-size: 1.266em;
    font-weight: bold;
    color: #3583a7;
    margin: 1em 0;
    cursor: pointer;
}

.asideInformation__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.asideInformation__item {
    margin-bottom: 1em;
}

.asideInformation__label {
    font-size: 1.366em;
    display: inline-block;
    color: #1677a2;
    margin-right: 0.3em;
    vertical-align: middle;
}

.asideInformation__label:not(.icon-star-outline) {
    font-weight: 600;
}

.asideInformation__information {
    font-size: 1.166em;
    color: #4489a9;
    margin-left: 0.3em;
}

.asideInformationFilters__categorie {
    color: #fff;
    font-size: 1em;
    width: 42%;
    margin-bottom: 2%;
    margin-right: 1%;
    padding: 0.5em;
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 600;
}

.asideInformationFilters__categorie:nth-child(3n) {
    margin-right: 0;
}

.asideInformationFilters__categorieBackground0 {
    /*background: #a9a9a9;*/
    background: #e01b1b;
}

.asideInformationFilters__categorieBackground1 {
    background: #979fa2;
}

.asideInformationFilters__categorieBackground2 {
    background: #8c9ea5;
}

.asideInformationFilters__categorieBackground3 {
    background: #829ca7;
}

.asideInformationFilters__categorieBackground4 {
    background: #7697a5;
}

.asideInformationFilters__categorieBackground5 {
    background: #6d94a5;
}

.asideInformationFilters__categorieBackground6 {
    background: #6094ab;
}

.asideInformationFilters__categorieBackground7 {
    background: #518ba5;
}

.asideInformationFilters__categorieBackground8 {
    background: #4489a9;
}

.asideInformationFilters__categorieBackground9 {
    background: #3583a7;
}

.asideInformationFilters__categorieBackground10 {
    background: #2b7da2;
}

.asideInformationFilters__categorieBackground11 {
    background: #1677a2;
}

.asideInformationFilters__categorieBackground12 {
    background: #e0a20e;
}

.asideInformationFilters__categorieBackground13 {
    background: #000;
}

.asideInformationFilters__categorieBackground14 {
    background: #335253;
}

.errorGoogleMaps {
    width: 100%;
    height: 100%;
    background: #ff004d;
    opacity: 1;
    z-index: 100000;
    position: absolute;
}

.errorGoogleMaps__txt {
    color: #fff;
    font-size: 3em;
    text-align: center;
    top: 50%;
    position: relative;
    font-weight: bold;
}

.findHowManyPlaces {
    position: absolute;
    top: 50%;
    z-index: 1000;
    left: 25%;
    background: #1677a2;
    padding: 2em 1em;
    border-radius: 0.5em;
    width: 50%;
}

.findHowManyPlaces__txt {
    color: #fff;
    font-size: 2em;
    text-align: center;
}

.findHowManyPlaces__number {
  background: #ffffff;
  color: #1677a2;
  font-size: 1em;
  border-radius: 1em;
  text-align: center;
  padding: 0.2em;
  height: 0.5em;
  width: 0.5em;
  vertical-align: middle;
  font-weight: bold;
}

@media only screen and (min-width: 60em) {
    .positionInicialFilter {
        -webkit-transform: translate(69em, 0);
        -ms-transform: translate(69em, 0);
        transform: translate(69em, 0);
    }
    .asideInformationContainer {
        width: 30%;
    }
    .asideInformationFilters__categorie {
        width: 29%;
    }
    .positionEndBadge {
        right: 40%;
    }
    .messageError {
        width: 50%;
        right: 25%;
    }
    .positionEndBadge+.badge__number {
        right: 40.4%;
    }
}
