html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.warning {
    z-index: 10000;
    position: absolute;
    top: 0;
    background: #fff;
    padding: 10px;
}

.loading{
  position: fixed;
    height: 100%;
    background: blue;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1000;
    opacity: 0.5
}

.hide {
  display: none!important;
}
